In [1]:
import pandas as pd

vine_table_df=pd.read_csv("vine_table.csv")
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RBMM4G3D4M0NT,5,0,0,N,Y
1,R3P6XRJ0S2FA8H,5,0,0,N,Y
2,R2VTZD6J637USQ,2,0,0,N,Y
3,R19ASOT4A3XIYM,1,2,4,N,Y
4,R2VMJ2K62KUT3C,5,2,2,N,Y

In [2]:
#1. Filter the data and create a new DataFrame 
# to retrieve all the rows where the total_votes count is equal to or greater than 20 
# and to avoid having division by zero errors later on.

total_votes_df = vine_table_df.loc[(vine_table_df["total_votes"] >= 20)]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R2I6NE2CNZ7IR,1,36,40,N,Y
39,R3KSK6K22IDA0X,4,48,55,N,Y
215,RQG5VHYSFZO10,1,30,37,N,Y
570,RM84ST6646XAC,1,18,25,N,N
709,R2YLYM1YERA3PC,4,19,22,N,Y

In [3]:
#2. Filter the new DataFrame or table created in Step 1 
# and create a new DataFrame to retrieve all the rows where the number of helpful_votes 
# divided by total_votes is equal to or greater than 50%.


helpful_votes_df = total_votes_df.loc[(total_votes_df["helpful_votes"]/total_votes_df["total_votes"] >= 0.5)]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R2I6NE2CNZ7IR,1,36,40,N,Y
39,R3KSK6K22IDA0X,4,48,55,N,Y
215,RQG5VHYSFZO10,1,30,37,N,Y
570,RM84ST6646XAC,1,18,25,N,N
709,R2YLYM1YERA3PC,4,19,22,N,Y

In [4]:
#3. Filter the DataFrame or table created in Step 2, and create a new DataFrame 
# that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

vine_paid_df = helpful_votes_df.loc[(helpful_votes_df["vine"] == "Y")]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1375245,R6U9701C3BGO6,3,139,147,Y,N
1375387,R1XK3ALB45D7N4,5,33,34,Y,N
1375397,R1IZCSTLX81D6C,5,31,33,Y,N
1375418,R2C8NC8EQLH4JF,3,45,48,Y,N
1375652,R1JJ1YOJMOML1P,5,18,21,Y,N

In [5]:
#4. Repeat Step 3, but this time retrieve all the rows 
# where the review was not part of the Vine program (unpaid), vine == 'N'.
vine_unpaid_df = helpful_votes_df.loc[(helpful_votes_df["vine"] == "N")]
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R2I6NE2CNZ7IR,1,36,40,N,Y
39,R3KSK6K22IDA0X,4,48,55,N,Y
215,RQG5VHYSFZO10,1,30,37,N,Y
570,RM84ST6646XAC,1,18,25,N,N
709,R2YLYM1YERA3PC,4,19,22,N,Y

In [6]:
#5 Determine the total number of reviews (paid)

paid_review_count = vine_paid_df["review_id"].count()
paid_review_count

33

In [7]:
# Determine the total number of reviews (unpaid)
unpaid_review_count = vine_unpaid_df["review_id"].count()
unpaid_review_count

45246

In [12]:
# the number of 5-star reviews (paid)
five_star_paid = len(vine_paid_df[vine_paid_df['star_rating']==5])
five_star_paid

15

In [13]:
# the number of 5-star reviews (unpaid)
five_star_unpaid = len(vine_unpaid_df[vine_unpaid_df['star_rating']==5])
five_star_unpaid

23639

In [14]:
# percentage of 5-star reviews (paid)
paid_5star_percent = ( five_star_paid / paid_review_count ) *100
paid_5star_percent

45.45454545454545

In [15]:
# percentage of 5-star reviews (unpaid)
unpaid_5star_percent = ( five_star_unpaid / unpaid_review_count ) *100
unpaid_5star_percent

52.245502364849926